@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  width: 85%;
  margin: auto;
  margin-top: -6rem;
  background-color: $primary-white;
  height: 70vh;
  min-height: 25rem;
  border-top-left-radius: 7rem;
  box-shadow: 0 2px 4px rgba(140, 139, 139, 0.685);
  position: relative;
  @include flexbox(column, flex-start, center);

  &__hero {
    width: 100%;
    height: 35vh;
    min-height: 12rem;
    background-image: url("../../assets/images/wing.jpg");
    opacity: 0.8;
    border-top-left-radius: 7rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__headline {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    @include flexbox(column, flex-start, flex-start);
  }

  &__title {
    @include mobil-subheader;
    color: $secondary-black;
    text-transform: uppercase;
  }

  &__quote {
    align-self: end;
    margin-top: 1rem;
    @include mobil-body-medium;
    color: $secondary-black;
  }

  &__text {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    @include mobil-body-large;
    color: $secondary-black;
  }

  &__strong {
    font-weight: 600;
    color: $primary-blue;
  }
}
