@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.translation {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $primary-gray;
  @include flexbox(row, flex-start, center);

  @include tablet {
    padding-bottom: 2rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.6;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.2);
    }

    @include tablet {
      width: 2rem;
      height: 2rem;
    }
  }

  &__text {
    @include mobil-body-medium;
    margin-left: 1rem;

    @include tablet {
      @include body-medium;
    }
  }
}
