@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-description {
  padding: 1rem;

  &__title {
    @include mobil-subheader;
    text-align: center;
  }

  &__content {
    @include flexbox(row, space-between, space-between);
  }

  &__info-container {
    @include tablet {
      @include flexbox(row, space-between, center);
    }
  }

  &__channel {
    @include mobil-labels;
  }

  &__strong {
    color: $primary-blue;
  }

  &__social-container {
    @include flexbox(column, center, center);
  }

  &__social {
    @include flexbox(row, space-between, center);
  }

  &__view {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    opacity: 0.7;
  }

  &__like {
    color: $primary-blue;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__time,
  &__like-count,
  &__view-count {
    @include mobil-body-medium;
  }
}
