$primary-black: #141415;

$primary-gray: #5c667e;
$secondary-gray: #bdc5d5;

$primary-white: #ffffff;
$secondary-white: #f7f8f9;

$primary-blue: #2e66e6;
$secondary-blue: rgb(46, 150, 248);
$dark-blue: rgb(2, 71, 155);

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
