$primary-black: #141415;
$secondary-black: #353535;

$primary-gray: #d7dde9;
// $primary-gray: #e1e3de;
//$primary-blue: #3992bc;
$primary-blue: #4696f7;
$secondary-blue: #d4eaf5;
$primary-white: #ffffff;
$secondary-white: #eeeff0;
$primary-green: #29bbb8;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
