$primary-black: #141415;

$primary-gray: #e1e3de;
$primary-blue: #3992bc;
$secondary-blue: #d4eaf5;
$primary-white: #ffffff;
$secondary-white: #f7f8f9;
$primary-green: #29bbb8;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
