@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.fuelUpList {
  width: 85%;
  margin: auto;
  margin-top: -6rem;
  background-color: $primary-white;
  height: 70vh;
  min-height: 25rem;
  border-top-left-radius: 7rem;
  box-shadow: 0 2px 4px rgba(140, 139, 139, 0.685);
  position: relative;
  @include flexbox(column, flex-start, center);

  &__item {
    margin: 1rem;
  }
  &__toggle {
    width: 100%;
    @include flexbox(row, flex-start, center);
    flex-wrap: wrap;
  }

  &__question {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $primary-blue;
    margin: 0.25rem;
    padding: 0.25rem;
  }
}
