@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  @include flexbox(column, flex-start, center);

  @include tablet {
    padding: 2rem 0;
    width: 80%;
    margin: auto;
    @include flexbox(row, space-between, center);
  }

  @include desktop {
    width: 70%;
    margin-top: 4rem;
  }

  &__copyright {
    @include mobil-body-small;
    color: $secondary-black;
    margin-bottom: 0.5rem;

    @include tablet {
      @include body-small;
    }
  }

  &__icon {
    width: 1.875rem;
    height: 1.875rem;
    opacity: 0.6;
    margin: 0.25rem 0.5rem;

    &:hover {
      opacity: 1;
    }
  }
}
