@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.fuel-main {
  width: 85%;
  margin: auto;
  margin-top: -6rem;
  padding-top: 1rem;
  background-color: $primary-white;
  height: fit-content;
  min-height: 25rem;
  border-top-left-radius: 7rem;
  box-shadow: 0 2px 4px #8c8b8baf;
  position: relative;
  @include flexbox(column, flex-start, center);

  &__back {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    @include tablet {
      top: 1rem;
      right: 1rem;
      transform: scale(1.2);
    }
  }
}

.fuel {
  width: 80%;
  margin: auto;
  margin-top: 1rem;

  &__instruction {
    @include mobil-labels;
    margin-top: 1.5rem;

    @include tablet {
      @include labels;
    }
  }
}
