@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.speaking-question {
  width: 85%;
  margin: auto;
  margin-top: -6rem;
  padding-top: 4rem;
  background-color: $primary-white;
  border-top-left-radius: 7rem;
  box-shadow: 0 2px 4px #8c8b8baf;
  position: relative;
  @include flexbox(column, flex-start, center);

  &__back {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__img {
    width: 80%;
    border-radius: 4px;
  }

  &__buttons {
    width: 80%;
    @include flexbox(row, space-between, center);
    padding: 2rem 0;
  }

  &__icon {
    width: 1.875rem;
    height: 1.875rem;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
